


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
  /*  height: 100%;*/
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
	background-position: center;
	background-size: cover;
	/*position: absolute;*/
}
.navbar
{
    display: flex; 
/* display:inline-flex; */
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{ /*display:inline-flex;*/
    flex: 1; 
    text-align: right; 
  
}
nav ul 
{
  
    list-style: none;
}
nav ul li
{
	display: inline-block; 
    margin-right: 70px;
}
.search{
 display:inline-flex;
 float:right;
 
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}

.bt1{
	float:left;
	width:33.33%;
	height:50px;
	
}
.bt2{
	margin: 0 auto;
	width:33.33%;
	height:50px;
	
}
.bt3{
	float:right;
	width:33.33%;
	height:50px;
	
}
div.image
{
	width:50%;
	float:left;
	
}
 div.content{
	 width:50%;
	 float:right;
	 background-color:blue;
	 height:300px;
}
ul .menu {
	list-style:none;
}
ul .menu li a {
	text-decoration:none;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
